.question {
    margin-bottom:20px;
}
.correct {
    background-image:url('../imgs/green-streak.png');
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 20%;
}
.false {
    background-image:url('../imgs/red-streak.jpg');
    background-repeat:no-repeat;
    background-position-x: 40%;
    background-position-y: 40%;
}
.active {
    border-bottom:3px solid white;
}
nav * {
    color:white !important;
     text-shadow: 2px 2px black;
     font-weight:bold;
}
.ask-question {
    font-size: 18px;
    font-weight:larger;

}
.container-fluid {
    margin:10px;
}
.navbar {
height:80px;
background-image:url('../imgs/streak.png');
background-size:contain;
}
.navbar-brand {
    font-size:25px;
}
footer {
    height:50px;
}
#submitFormBt {
   margin:20px;
}
.blockquote {
    background-color:#999 !important;
}

.heading {
    font-size:90px;
}
.subheading {
    font-style:oblique;
    font-size:30px;
}
#info-text {
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 1px 14px black;
}
.background {

    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.1) 100%), url('../imgs/poverty.png'); */
}




