.question {
    margin-bottom:20px;
}

.active {
    border-bottom:3px solid white;
}
nav * {
    color:#111 !important;
     text-shadow: 1px 1px white;
     font-weight:bold;
}
.ask-question {
    font-size: 18px;
    font-weight:larger;

}
.container-fluid {
    margin:10px;
}
.navbar {
height:80px;
background-image:url('../imgs/streak.png');
background-size:contain;
}
footer {
    height:50px;
}
#submitFormBt {
   margin:20px;
}
.blockquote {
    background-color:#999 !important;
}